---
---
@import "{{ site.theme }}";

html {
  overflow-y: scroll;
}

#main-content {
  p > img:only-child {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

#posts {
  span.continue {
    font-size: 17px;
    color: var(--light-purple);

    &:hover {
      color: var(--dark-purple);
    }
  }
}

p.meta {
  &.coauthors .publish-date .fa-calendar{
    margin: 0 3.5px;
  }

  span {
    display: inline-block;
    margin-right: 10px;

    a:not(:last-child):after {
      content: ', ';
    }
  }

  a:hover {
    color: #{ light-dark(var(--dark-purple), var(--light-purple)) };
  }

  a:not(:hover), a:hover:after {
    color: #{ light-dark(var(--dark-grey), var(--light-grey)) };
  }

  a:not(:last-child):after {
    content: ', ';
  }

  a:nth-last-child(2):after {
    content: ' and ';
  }
}

aside .menu {
  h1 {
    font-family: 'Architects Daughter', Arial, serif;
    margin: 0.3em 0 0 0;
  }

  a:not(:hover) {
    color: #{ light-dark(var(--dark-purple), var(--light-grey)) };
  }

  a:hover {
    color: #{ light-dark(var(--light-purple), var(--light-purple)) };
  }


  & h1:before{
    content: "/";
    letter-spacing: 4px;
  }

  ul {
    list-style: '# ';
    margin-top: 6px;

  }

  ::marker {
    font-family: Arial, serif;
  }
}

.profile-pic {
  float: right;
  width: 220px;
  margin-left: 20px;
  margin: 0 0 12px 12px;

  &:before
  {
    display:block;
    content:'';
    position:absolute;
    width: 220px;
    height: 220px;
    box-shadow: inset 0px 0px 5px 5px #{ light-dark(var(--light-grey), var(--darker-grey)) };

  }
}

#all-tags {
  .show-all {
    float: right;
  }
  
  &.all .show-all {
    display: none;
  }

  &:not(.all) .tag {
    display: none;
  }
}